.card .card-image {
    margin-bottom: 20px;
}

.card .card-tag {
    font-family: ubuntu, sans-serif;
    color: var(--clrPrimary1);
    text-transform: uppercase;
    margin-bottom: 0.6em;
}
