.main-header {
    height: 160px;
}

.main-header .logo {
    font-family: inconsolata, monospace;
    font-size: 2.1428571em;
    color: var(--clrPrimary-1);
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.main-header .main-nav a {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.main-header .main-nav a:hover {
    color: var(--clrPrimary-1);
    text-decoration: underline;
}
