:root {
    /* pallete */
    --clrPrimary2: #f0f0f0;
    --clrPrimary1: #b4ad9e;
    --clrPrimarybase: #626262;
    --clrPrimary-1: #000;

    /* layout */
    --layout-padding-hor: 80px;
    --layout-padding-ver: 50px;

    /* bp */

    --l: 1060px;
    --m: 860px;
    --s: 600px;
}
