body {
    background-color: lightgray;
}

h1 {
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
}

ul li {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.todo-add {
    background-color: aliceblue;
    padding: 20px;
}

.todo-stat {
    background-color: aliceblue;
    padding: 5px;
    margin-block-start: 15px;
    text-align: center;
}
